@page
@model LojaApp.Pages.CrudCustosProdutos.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Custos</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="text" asp-for="Custos.IdProduto" class="form-control" />
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Custos.DescricaoCusto" class="control-label"></label>
                <input asp-for="Custos.DescricaoCusto" class="form-control" aria-required="true"/>
                <span asp-validation-for="Custos.DescricaoCusto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Custos.ValorCusto" class="control-label"></label>
                <input asp-for="Custos.ValorCusto" class="form-control" />
                <span asp-validation-for="Custos.ValorCusto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        Globalize.culture("pt-BR"); // Sobrescreve o método number do jQuery Validation para usar Globalize
        $.validator.methods.number = function (value, element)
        {
            return this.optional(element) || !isNaN(Globalize.parseFloat(value));
        };
    </script>
    <script>
        $(function () {
            // 1. Faz o validador do jQuery aceitar vírgula
            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s.,]\d{3})+)(?:[.,]\d+)?$/.test(value);
            };
        });
    </script>
}
